* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
  
}

body {
  width: 100%;

  color:#E3CBAB; 
background: #5e7065;}

#wrapper {
 	width: 80%;
 	max-width: 900px;
 	margin: 0 auto;


 }



.message {

	color: #5C1F56;
}

#intro {
	width: 65%;
	padding: 0 10px 10px 0;
}

#submit-aff {
	-webkit-border-radius: 3px;
-webkit-border-top-right-radius: 35px;
-moz-border-radius: 3px;
-moz-border-radius-topright: 35px;
border-radius: 3px;
border-top-right-radius: 35px;
	padding: 20px;
	margin-bottom: 50px;
	background: #475f54;
	width: 65%;
	float: left;
}

#login {
	padding: 45px 20px 20px;
	width: 35%;
	float: left;
}

#quote {
	padding: 3%;
	border: 0 10%;
	-webkit-border-radius:25px;
	border-radius: 25px;
	background: #475f54;

}

a {
	color: #bbb7b1;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
}

.nav {
	text-align: center;
	margin: 15px auto;
}

textarea { 
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

#sub_name, #email{
	width: 80%;

}

img {
	max-width: 100%;

}

.sm {
	font-size: 80%;
	opacity: 0.8;

}